body {
    box-sizing: border-box;
    margin: 0;
    background-color:rgb(236, 199, 145);
    scroll-behavior: smooth;
}

header h1 {
    background-color: rgb(179, 37, 167);
    padding: 5px;
    margin: 0;
    color:rgb(255, 255, 255);

}

header {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background: rgb(34,195,107);
    background: 
        linear-gradient(10deg, 
        rgba(34,195,107,0.7596288515406162) 24%,
        rgba(253,187,45,0.9641106442577031) 100%);
    padding: 10px;
    margin: 0;
    font-family: monospace;
    font-size: 1.6rem;
   
    

}

li {
    list-style: none;
}



li a {
    text-decoration: none;
    color: aliceblue;
    border-bottom: 1px transparent;
    transition: all .2s ease;
}

li a:hover {
    border-bottom: 1px solid blueviolet;
}

section {
    padding-top: 10px;
    margin: 20px 0;
    background: rgb(34,121,195);
    background: 
        linear-gradient(10deg, 
         rgba(34,121,195,0.7596288515406162) 24%,
         rgba(244,45,253,0.9977240896358543) 100%);
}

section h2 {
    text-align: center;
    font-family: monospace;
    line-height: 10px;
    margin-bottom: 20px;
    
    
}

article p {
    text-align: center;
    color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside p {
    text-align: center;
    color:yellow;
    font-family: monospace;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    line-height: 20px;
    font-size: 1.2rem;
}


figure {
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid transparent;
    background-color:tan;
}

figcaption {
    font-weight: 600;
    line-height: 10px;
    font-size: 1.1rem;
    padding: 5px;
    background-color: hotpink;
}

figure img {
    margin-top: 5px; 
}

footer {
    display: flex;
    justify-content: center;
    align-items:end;
    flex-direction: row;
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: yellowgreen;
}

footer p {
    position: absolute;

}
























video {
    width: 450px;
    height: 300px;
  }
  embed{
    height:300px;
    width:450px;
  }